<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!--include the default logback config-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <!--自定义pattern-->
    <property name="LOG_PATTERN_JELLY"
              value="%date %clr(%level) [%thread] [traceId:%clr(%X{X-B3-TraceId}){blue}] %clr([%logger]:%L){cyan}   %msg %n"/>


    <!--config the common property by env-->
    <springProfile name="local">
        <property name="LOG_HOME" value="~/logs/jelly"/>
        <property name="JELLY_LOG_LEVEL" value="INFO"/>
    </springProfile>

    <springProfile name="testing">
        <property name="LOG_HOME" value="/home/admin/logs/jelly"/>
        <property name="JELLY_LOG_LEVEL" value="INFO"/>
    </springProfile>

    <springProfile name="staging">
        <property name="LOG_HOME" value="/home/admin/logs/jelly"/>
        <property name="JELLY_LOG_LEVEL" value="INFO"/>
    </springProfile>

    <springProfile name="production">
        <property name="LOG_HOME" value="/home/admin/logs/jelly"/>
        <property name="JELLY_LOG_LEVEL" value="INFO"/>
    </springProfile>


    <!--common log file name define-->
    <property name="COMMON_INFO_LOG" value="common-info.log"/>
    <property name="COMMON_WARN_LOG" value="common-warn.log"/>
    <property name="COMMON_ERROR_LOG" value="common-error.log"/>

    <!--common pattern define-->
    <property name="COMMON_FILE_LOG_PATTERN" value="${LOG_PATTERN_WATT}"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN_JELLY}</pattern>
        </encoder>
    </appender>

    <!-- 公共 common-info.log-->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="COMMON_INFO_FILE">
        <file>${LOG_HOME}/${COMMON_INFO_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${COMMON_INFO_LOG}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${COMMON_FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <!-- 公共 common-warn.log-->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="COMMON_WARN_FILE">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_HOME}/${COMMON_WARN_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${COMMON_WARN_LOG}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${COMMON_FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <!--公共 common-error.log-->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="COMMON_ERROR_FILE">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_HOME}/${COMMON_ERROR_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${COMMON_ERROR_LOG}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${COMMON_FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <root level="${JELLY_LOG_LEVEL}">
        <springProfile name="local">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <springProfile name="testing">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <appender-ref ref="COMMON_INFO_FILE"/>
        <appender-ref ref="COMMON_WARN_FILE"/>
        <appender-ref ref="COMMON_ERROR_FILE"/>
    </root>
    <!--include all dependency logback config-->
    <include resource="logback-spring.jubao-account.xml"/>
    <include resource="logback-spring.jubao-bill.xml"/>

</configuration>